#community .community_main {
    margin : 0 auto;
    width : 924px;
    height : 870px;
    /* background-color: blue; */
    overflow: hidden;

    overflow-y: scroll;
}

#community .box2 {
    width : 860px;
    height : 80px;
    /* background-color: black; */
    margin : 0 auto;
}

#community .community_button {
    width :100px;
    height : 40px;
    float: right;
    margin-top: 20px;

    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    border : 1.2px solid black;

    cursor: pointer;
    background-color: white;
}   

#community .community_total {
    margin : 0 auto;
    width : 860px;
    height : 250px;
    /* background-color: blueviolet; */
    margin : 20px auto;
    overflow: hidden;
    border: 2px solid rgb(153, 152, 152);

    display: flex;
}

#community .community_picture {
    position: inherit;
    width : 200px;
    height : 200px;
    background-color: white;
    border : 1px solid rgb(143, 141, 141);
    /* background-color: red; */
    margin : 20px 20px 20px 20px;

    vertical-align: middle;
}

#community .community_sub {
    width : 600px;
    height : 200px;
    /* background-color: orange; */
    margin : 20px 0px 0px 20px;
}

#commjnity_sub .community_profile {
    width : 600px;
    height : 60px;
    /* background-color: yellow; */
    border-bottom : 1px solid rgb(143, 141, 141);
    /* border-top : 1px solid rgb(143, 141, 141); */
}

#commjnity_sub .community_content {
    width : 590px;
    height : 60px;
    /* background-color: green; */
    /* padding-left: 20px ; */
    margin-top: 10px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    padding : 10px 10px;
    /* background-color: rgb(112, 112, 211); */
     
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    font-size: 20px;
}

#commjnity_sub .community_count {
    width : 590px;
    height : 50px;
    background-color: beige;
    padding-left: 10px;
    line-height: 50px;
}

#commjnity_sub .profile_main {
    display: flex;
}

#commjnity_sub .profile_image {
    width : 45px;
    height: 45px;
    border : 1.2px solid rgb(194, 194, 194);

    margin-left : 10px;
    margin-top : 4px;

    border-radius: 50%;

    cursor: pointer;
}

#commjnity_sub .profile_name {
    width : 300px;
    height : 60px;
    font-size: 20px;
    margin-left : 12px;

    line-height: 55px;
}

.community_image {
    width : 200px;
    height : 200px;

    cursor: pointer;
}

.community_modal {
    width : 100%;
    height : 100%;
    position: fixed;
    top : 0;
    left : 0;
    background-color: rgba(22, 22, 22, 0.5);
  

    display: none;
}

.detail_modal {
    background-color: #ffffff;
    width: 1200px;
    height: 700px;
    padding: 15px;
    margin : 100px auto;
    /* display: none; */

    display: flex;
}

.show {
    display: block;
}