/* 헤더 */
header {
    background-color: white; /* 헤더 배경색 */
    color: black; /* 글자 색상 */
    padding: 30px 0;
    text-align: center;
    border-bottom: solid 1.5px rgb(230, 223, 223);
}
#header .container {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
#header .logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
#header .login-btn {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

#header .logout-btn{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    cursor: pointer;
}
#header .create-btn {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#header .mypage-btn {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

/* 메인 */
#main .mainTitle {
    width : 1150px;
    height: 50px;
    margin: 0 auto;
    /* border:solid 2px black; */

    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

#main .main {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    /* border : solid 1px black; */
    /* background-color: yellowgreen; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#main {
    width : 100%;
    height : 1100px;
    /* background-color: blue; */
}

#main .list {
    width : 250px;
    height: 320px;
    margin : 50px auto;
    display: block;

    border : 2px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 30px ;
    cursor: pointer;
    font-weight: 800;

    border: 1px solid #B9C3D6;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(39, 55, 79, 0.10);
}

.a{
    text-decoration: none; 
    color: black;
    width : 300px;
    height: 300px;
}

#main .roomDeadline{
    width : 200px;
    height: 50px;
    /* background-color: red; */
    margin : 25px auto 0 auto;

    font-size: 13px;
    font-weight: 600;
    text-align: left;
    line-height: 50px;

    color : rgb(172, 172, 172)
}

#main .roomContent {
    width : 200px;
    height: 160px;
    font-size: 17px;
    /* background-color: red; */
    display: block;
    
    overflow : hidden;
    white-space: normal;
    text-overflow: clip;

    margin : 0 auto;
}

#main .roomPersonel {
    width : 200px;
    height : 50px;
    /* background-color: red; */
    font-size: 15px;
    margin : 0 auto;
}