/* 회원가입 */
#sign .signupBox {
    width : 500px;
    height : 370px;
    position: absolute; left : 50%; top : 40%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    text-align: center;
}

#sign .title{
    font-size: 25px;
}

#sign input{
    width: 350px;
    height: 32px;
    font-size: 15px;
    padding-left: 10px;
    margin-top: 15px;
}

#sign .button{
    width : 367px;
    height: 38px;
    font-size: 15px;
    background-color: black;
    color : white;
    cursor: pointer;
}

#sign .hidden{
    display: none;
}

#sign .label {
    display: inline-block;
    height : 200px;
    width : 200px;
   
}

#sign .profile {
    height : 200px;
    width : 200px;
    border-radius: 50%;
    border: 2px solid black;
    margin : 0 auto;
    /* background-color: red; */
    cursor: pointer;

    line-height: 185px;
    font-size: 70px;
}

#sign .profileImg{
    height: 200px;
    width : 200px;
    border-radius: 50%;
    border : 1.5px solid black;
}

/* 로그인 */
#login .loginBox {
    width : 500px;
    height : 370px;
    position: absolute; left : 50%; top : 40%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    text-align: center;
}

#login .title{
    font-size: 25px;
}

#login input{
    width: 350px;
    height: 32px;
    font-size: 15px;
    padding-left: 10px;
    margin-top: 15px;
}

#login .button{
    width : 367px;
    height: 38px;
    font-size: 15px;
    background-color: black;
    color : white;
    cursor: pointer;
}



